main,
main .section {
  gap: calc(var(--padding) * 2);
}

main {
  padding: calc(var(--padding) * 2);
}

main .navbar .navbar-boxLeft,
main .navbar .navbar-boxRight > div,
main .chatBox > div {
  border-radius: var(--border-radius);
}

main .navbar .navbar-boxLeft,
main .navbar .navbar-boxRight > div,
main .chatBox .chatBox-boxRight {
  background-color: var(--background-alt);
}

main .navbar {
  width: calc((var(--initial) * 10) + (var(--initial) * 35));
}

main .navbar .navbar-boxRight {
  gap: 20px;
  width: 265px;
}

.loading {
  transform: scale(0.5);
}
.loading .lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.loading .lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.loading .lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.loading .lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.loading .lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.loading .lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.loading .lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.loading .lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.loading .lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.loading .lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.loading .lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.loading .lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.loading .lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.loading .lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.loading .lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.loading .lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.loading .lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.loading .lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.loading .lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/* User Avatar */
.chatItemAvatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--background-element);
  background-image: var(--bg-user-url);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid var(--border-color);
}

.chatItemAvatar .userStatus {
  width: 8px;
  height: 8px;
  background-color: var(--success-main);
  border-radius: 50%;
  top: 2px;
  left: 2px;
}


/* Toggle Menu */
ul.toggleMenu {
  width: var(--width);
  padding: var(--padding) 0;
  margin: 0;
  list-style: none;

  background-color: var(--background-element);
  bottom: var(--currentBottom);
  left: var(--currentLeft);
  opacity: 0;
  visibility: hidden;

  border-radius: var(--border-radius);
  box-shadow: var(--boxSahdow-2);
  
  transition: var(--transition);
  z-index: 11111111111111111;
}
ul.toggleMenu.active {
  left: var(--left);
  bottom: var(--bottom);
  opacity: 1;
  visibility: visible;
}

ul.toggleMenu li {
  align-items: center;
  gap: 10px;
  padding: calc(var(--padding)) calc(var(--padding) * 2);

  cursor: pointer;
  color: var(--text-primary);
  
  transition: var(--transition);
}

ul.toggleMenu li.btnLogout {
  color: var(--error-main);
}

ul.toggleMenu li span {
  font-size: 13px;
}

ul.toggleMenu li i {
  font-size: 20px;
}

ul.toggleMenu li:hover {
  background-color: var(--hover-color);
}


/* Navbar Box Left */
main .navbar .navbar-boxLeft {
  width: calc(var(--initial) * 10);
  padding: calc(var(--padding) * 2);
  gap: 10px;
  z-index: var(--zIndex-modal);
}
main .navbar .navbar-boxLeft .navbar-logo {
  width: 50px;
  height: 50px;
  background-color: var(--background-element);
  border-radius: calc(var(--border-radius) * 2);
  box-shadow: var(--boxSahdow-2);
  border: 1px solid var(--border-color);
  background-image: var(--logo-url);
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}

main .navbar .navbar-boxLeft .navbar-middleButtons {
 gap: 10px;
}

main .navbar .navbar-boxLeft .navbar-button {
  width: 40px;
  height: 40px;
  background-color: var(--background-alt);
  border-radius: calc(var(--border-radius) * 2);
  background-image: var(--icon-dark);
  background-size: var(--bg-size);
  background-position: center;
  background-repeat: no-repeat;
  border: 0;
  border: 1px solid var(--border-color);
}

body.light main .navbar .navbar-boxLeft .navbar-button {
  background-image: var(--icon-light);
}

main .navbar .navbar-boxLeft .navbar-button .tooltip {
  position: absolute;
  height: 25px;
  width: fit-content;
  min-width: 90px;
  padding: 0 var(--padding);
  background-color: var(--background-alt);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-primary);
  border-radius: var(--border-radius);
  left: calc(100% + 50px);
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid var(--border-color);
  box-shadow: var(--boxSahdow-0);
  opacity: 0;
  visibility: hidden;
  transition: var(--transition);
  font-size: 11px;
}

main .navbar .navbar-boxLeft .navbar-button .tooltip::after {
  position: absolute;
  content: '';
  border-right: 8px solid var(--border-color);
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  left: -12px;
  border-radius: 4px;
  box-shadow: var(--boxSahdow-2);
}

main .navbar .navbar-boxLeft .navbar-button:hover .tooltip {
  opacity: 1;
  visibility: visible;
  left: calc(100% + 20px);
}

main .navbar .navbar-boxLeft .navbar-account {
  gap: 10px;
}

main .navbar .navbar-boxLeft .navbar-account .userAvatar .userAvatar-img {
  width: 40px;
  height: 40px;

  border-radius: calc(var(--border-radius) * 2);
  border: 1px solid var(--border-color);

  background-image: url(/assets/icon_user.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
}

/* Header Box */
main .navbar .navbar-boxRight .headerBox {
  height: calc(var(--initial) * 7);
  padding: 0 var(--padding);
  gap: 20px;
  display: none;
}

/* Story Box */
main .navbar .navbar-boxRight .topBox {
  height: calc(var(--initial) * 10);
  gap: 10px;
  overflow-x: auto;
  padding: 0 var(--padding);
}

main .navbar .navbar-boxRight .topBox .storyCircle {
  gap: 3px;
  width: 53px;
}

main .navbar .navbar-boxRight .topBox .storyCircle p {
  font-size: 10px;
  color: var(--text-primary);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Chat List Box */
main .navbar .navbar-boxRight .bottomBox {
  overflow: hidden;
}

main .navbar .navbar-boxRight .bottomBox .folderChat {
  height: 50px;
  overflow-x: auto;
}

main .navbar .navbar-boxRight .bottomBox .folderChat .folder {
  color: var(--text-primary);
  font-size: 14px;
  padding: 0 calc(var(--padding) * 2);
  border-bottom: 1px solid var(--background-main);
}

main .navbar .navbar-boxRight .bottomBox .folderChat .folder.active {
  border-bottom: 2px solid var(--primary-main);
  color: var(--primary-main);
  background-color: var(--background-main);
}

main .navbar .navbar-boxRight .bottomBox .chatList {
  padding: var(--padding);
  gap: var(--initial);
}

main .navbar .navbar-boxRight .bottomBox .chatList .chatItem {
  gap: 10px;
  padding: var(--padding);
  transition: var(--transition);
  border-radius: var(--border-radius);
  background-color: var(--background-main);
}

main .navbar .navbar-boxRight .bottomBox .chatList .chatItem.active {
  background-color: var(--primary-main);
}

main .navbar .navbar-boxRight .bottomBox .chatList .chatItem:not(.active):hover {
  background-color: var(--background-element);
}

main .navbar .navbar-boxRight .bottomBox .chatList .chatItem .chatItemContent {
  gap: 5px;
}

main .navbar .navbar-boxRight .bottomBox .chatList .chatItem .chatItemContent .userName {
  color: var(--text-title);
}

main .navbar .navbar-boxRight .bottomBox .chatList .chatItem .chatItemContent .lastMessage {
  color: var(--text-secondary);
  font-size: 14px;
  height: 24px;
}

main .navbar .navbar-boxRight .bottomBox .chatList .chatItem.active .chatItemContent .userName {
  color: var(--white);
}

.msgSeen .material-symbols-outlined {
  color: var(--primary-main);
  padding: 0;
  margin: 0;
  cursor: context-menu;
}
.msgSeen .material-symbols-outlined::selection {
  background-color: var(--background-element);
}

.searchBox {
  height: 40px;
  background-color: var(--background-main);
  padding: 0 var(--padding);
  gap: 10px;
  overflow: hidden;
  left: 0;
}

.searchBox input {
  background: none;
  border: 0;
  color: var(--text-primary);
}

.searchBox i.material-symbols-outlined {
  width: 20px;
  color: var(--text-secondary);
  font-size: 22px;
}
.searchBox.chatBoxSearch {
  opacity: 0;
  visibility: hidden;
  transition: var(--transition);
}

/* Chat Box */
main .chatBox .chatBox-boxLeft {
  background-color: var(--background-main);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}
body.light main .chatBox .chatBox-boxLeft {
  background-image: var(--bg-light-url);
}
body.dark main .chatBox .chatBox-boxLeft {
  background-image: var(--bg-dark-url);
}


/* Chat box - User Info */
main .chatBox .chatBox-boxLeft .userInfo {
  height: calc(var(--initial) * 8);
  background-color: var(--background-alt);
  padding: 0 var(--padding);
}

main .chatBox .chatBox-boxLeft .userInfo .userInfo-avatar {
  gap: 10px;
}

main .chatBox .chatBox-boxLeft .userInfo .userInfo-avatar .info span:first-child {
  color: var(--text-primary);
}

main .chatBox .chatBox-boxLeft .userInfo .userInfo-avatar .info span:last-child {
  color: var(--text-secondary);
  font-size: 12px;
}

main .chatBox .chatBox-boxLeft .userInfo .userInfo-action {
  gap: 10px;
}
.imagee{
  fill: #ffffff;
}
.actionBtn {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  transition: var(--transition);
  color: var(--text-primary);
  display: flex;
  font-size: 24px;
}

.actionBtn:hover {
  background-color: var(--background-main);
}

/* Chat box - User Message */
main .chatBox .chatBox-boxLeft .userChat {
  overflow-y: auto;
}
main .chatBox .chatBox-boxLeft .userMessage {
  padding: var(--padding);
  gap: 10px;
}
main .chatBox .chatBox-boxLeft .userMessage.chatRight {
  flex-direction: row-reverse;
}

main .chatBox .chatBox-boxLeft .userMessage .chat-box1 {
  flex-direction: column-reverse;
}

main .chatBox .chatBox-boxLeft .userMessage .chat-box2 {
  width: 50%;
  gap: 10px;
}
main .chatBox .chatBox-boxLeft .userMessage.chatRight .chat-box2 {
  align-items: flex-end;
  justify-content: space-around
}

main .chatBox .chatBox-boxLeft .userMessage .chat-box2 .message {
  padding: var(--padding);
  border-radius: var(--border-radius);
  background-color: var();
  background-color: var(--background-element);
  color: var(--text-primary);
  font-size: 14px;
  gap: 10px;
  width: fit-content;
}

main .chatBox .chatBox-boxLeft .userMessage .chat-box2 .message .msgHeader {
  gap: 10px;
}

main .chatBox .chatBox-boxLeft .userMessage .chat-box2 .message .msgHeader .msgSendBy {
  color: var(--primary-main);
  cursor: pointer;
}

main .chatBox .chatBox-boxLeft .userMessage .chat-box2 .message .msgHeader .msgDetails {
  color: var(--text-secondary);
}

main .chatBox .chatBox-boxLeft .userMessage .chat-box2 .message .msgBody .msgText {
  overflow-wrap: break-word;
}

main .chatBox .chatBox-boxLeft .userMessage .chat-box2 .message .msgFooter {
  height: 19px;
  gap: 20px;
}

main .chatBox .chatBox-boxLeft .userMessage .chat-box2 .message .msgFooter .msgTime {
  gap: 10px;
}
main .chatBox .chatBox-boxLeft .userMessage .chat-box2 .message .msgFooter .msgTime > div {
  gap: 3px;
  color: var(--text-disabled);
}
main .chatBox .chatBox-boxLeft .userMessage .chat-box2 .message .msgFooter .msgTime > div i {
  font-size: 18px;
}

/* Chat box - Send Message */
main .chatBox .chatBox-boxLeft .formSendMessage {
  min-height: calc(var(--initial) * 7);
  height: fit-content;
  background-color: var(--background-main);
  padding: var(--padding);
  gap: 10px;
  align-items: flex-end;
}

main .chatBox .chatBox-boxLeft .formSendMessage .btnMsgFile,
main .chatBox .chatBox-boxLeft .formSendMessage .btnBoxEmoji,
main .chatBox .chatBox-boxLeft .formSendMessage .sendMSG {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
main .chatBox .chatBox-boxLeft .formSendMessage .btnMsgFile {
  background-color: var(--text-title);
  color: var(--background-default);
  z-index: var(--zIndex-1);
}
main .chatBox .chatBox-boxLeft .formSendMessage .btnMsgFile i {
  font-size: 30px;
  transform: rotate(45deg);
}

main .chatBox .chatBox-boxLeft .formSendMessage .attachFile {
  height: 0px;
  width: 40px;
  background-color: var(--background-alt);
  border-radius: 20px;
  bottom: 0;
  padding: 0;
  transition: var(--transition);
  overflow: hidden;
}

main .chatBox .chatBox-boxLeft .formSendMessage .attachFile.show {
  height: 225px;
  padding: 2.5px;
}

main .chatBox .chatBox-boxLeft .formSendMessage .attachFile > label > div,
main .chatBox .chatBox-boxLeft .formSendMessage .attachFile > div {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  color: var(--text-title);
  padding-top: 5px;
  transition: var(--transition);
}

main .chatBox .chatBox-boxLeft .formSendMessage .attachFile > label > div:hover,
main .chatBox .chatBox-boxLeft .formSendMessage .attachFile > div:hover {
  background-color: var(--hover-color);
}

main .chatBox .chatBox-boxLeft .formSendMessage .formInput {
  width: 100%;
  border-radius: 15px;
  background-color: var(--background-element);
  align-items: flex-end;
  gap: 5px;
}

main .chatBox .chatBox-boxLeft .formSendMessage .btnBoxEmoji {
  color: var(--text-title);
  background-color: var(--hover-color);
}

main .chatBox .chatBox-boxLeft .formSendMessage .textInput {
  max-height: 100px;
  overflow-y: auto;
  cursor: text;
}

main .chatBox .chatBox-boxLeft .formSendMessage .textInput div {
  color: var(--text-title);
  padding: var(--padding) 0;
}

main .chatBox .chatBox-boxLeft .formSendMessage .sendMSG {
  background-color: var(--primary-main);
  border: 0;
}
main .chatBox .chatBox-boxLeft .formSendMessage .sendMSG i {
  color: var(--white);
}
main .chatBox .chatBox-boxLeft .formSendMessage .emojiBox {
  width: calc(100% - (var(--initial) * 2));
  bottom: 100%;
  left: var(--initial);
  background-color: var(--background-alt);
  padding: var(--padding);
  border-radius: var(--border-radius);
  font-size: 22px;
  display: none;
  margin-bottom: 8px;
}
main .chatBox .chatBox-boxLeft .formSendMessage .emojiBox div {
  flex-wrap: wrap;
}
main .chatBox .chatBox-boxLeft .formSendMessage .emojiBox span {
  cursor: pointer;
}
main .chatBox .chatBox-boxLeft .formSendMessage .emojiBox span::selection {
  background-color: var(--background-alt);
}

/* Chat box - Box Right */
main .chatBox .chatBox-boxRight {
  width: calc(var(--initial) * 35);
  overflow: hidden;
  gap: 10px;
  display: none;
  transition: var(--transition);
}

/* Box Top */
main .chatBox .chatBox-boxRight .boxRight-top {
  background-color: var(--primary-main);
  height: 200px;
  border-radius: 0 0 50% 50%;
  gap: 10px;
}
main .chatBox .chatBox-boxRight .boxRight-top .btnClose {
  position: absolute;
  top: var(--initial);
  left: var(--initial);
  font-size: 1.5rem;
  color: var(--black2);
  font-weight: 600;
}
main .chatBox .chatBox-boxRight .boxRight-top .chatItemAvatar {
  background-color: var(--white);
  border-color: var(--white);
  box-shadow: var(--boxSahdow-4);
}
main .chatBox .chatBox-boxRight .boxRight-top .info {
  gap: 3px;
}
main .chatBox .chatBox-boxRight .boxRight-top .info .userName {
  color: var(--white);
  font-size: 16px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
main .chatBox .chatBox-boxRight .boxRight-top .info .onlineTime {
  color: var(--white);
  font-size: 12px;
}

/* Box Middle */
main .chatBox .chatBox-boxRight .boxRight-middle {
  width: calc(100% - 20px);
  margin-left: 10px;
  padding: 10px;
  color: var(--text-primary);
  background-color: var(--background-element);
  border-radius: var(--border-radius);
  font-size: 14px;
}
main .chatBox .chatBox-boxRight .boxRight-middle .middleItem {
  gap: 10px;
}
main .chatBox .chatBox-boxRight .boxRight-middle .middleItem.middleButton {
  height: 45px;
  transition: var(--transition);
  padding: 0 var(--padding);
}
main .chatBox .chatBox-boxRight .boxRight-middle .middleItem.middleButton:hover {
  background-color: var(--hover-color);
}
main .chatBox .chatBox-boxRight .boxRight-middle .middleItem.textError {
  color: var(--error-main);
}
main .chatBox .chatBox-boxRight .boxRight-middle .icon i {
  font-size: 24px;
}
main .chatBox .chatBox-boxRight .boxRight-middle .desc {
  gap: 10px;
}
main .chatBox .chatBox-boxRight .boxRight-middle .desc .descItem {
  gap: 3px;
}
main .chatBox .chatBox-boxRight .boxRight-middle .desc .descItem label {
  font-size: 12px;
  color: var(--text-secondary);
}
main .chatBox .chatBox-boxRight .boxRight-middle .desc .descItem span.userName {
  text-decoration: underline;
  color: var(--primary-main);
  cursor: pointer;
}


/* Responsive */
@media only screen and (max-width: 1250px) {
  
  /* Chat box - Box Right */
  main .chatBox .chatBox-boxRight {
    display: flex;
    position: absolute;
    height: calc(100% - (var(--padding) * 4));
    right: -100%;
  }
}

@media only screen and (max-width: 1000px) {
  /* Header Box */
  main .navbar .navbar-boxRight .headerBox {
    display: flex;
  }
  
  /* Navbar Box Left */
  main .navbar {
    width: calc((var(--initial) * 33));
  }
  main .navbar .navbar-boxLeft {
    /* width: calc(var(--initial) * 10); */
    height: calc(100% - (var(--padding) * 4));
    position: absolute;
    left: -100%;
    transition: var(--transition);
  }
}

@media only screen and (max-width: 750px) {
  main,
  main .section {
    gap: 0;
  }

  main {
    padding: 0;
  }

  main .navbar .navbar-boxLeft,
  main .navbar .navbar-boxRight > div,
  main .chatBox > div {
    border-radius: 0;
  }

  main .chatBox {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

  /* Chat box - Box Right */
  main .chatBox .chatBox-boxRight {
    height: 100%;
  }
}