main,
main .section {
  gap: calc(var(--padding) * 2);
}

main {
  padding: calc(var(--padding) * 2);
}

main .navbar .navbar-boxLeft,
main .navbar .navbar-boxRight > div,
main .chatBox > div {
  border-radius: var(--border-radius);
}

main .navbar .navbar-boxLeft,
main .navbar .navbar-boxRight > div,
main .chatBox .chatBox-boxRight {
  background-color: var(--background-alt);
}

main .navbar {
  width: calc((var(--initial) * 10) + (var(--initial) * 35));
}

main .navbar .navbar-boxRight {
  gap: 20px;
  width: 265px;
}

main .chatBox .chatBox-boxRight {
  width: calc(var(--initial) * 40);
}

/* User Avatar */
.chatItemAvatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--background-element);
  background-image: var(--bg-user-url);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid var(--border-color);
}

.chatItemAvatar .userStatus {
  width: 8px;
  height: 8px;
  background-color: var(--success-main);
  border-radius: 50%;
  top: 2px;
  left: 2px;
}


/* Toggle Menu */
ul.toggleMenu {
  width: var(--width);
  padding: var(--padding) 0;
  margin: 0;
  list-style: none;

  background-color: var(--background-element);
  bottom: var(--currentBottom);
  left: var(--currentLeft);
  opacity: 0;
  visibility: hidden;

  border-radius: var(--border-radius);
  box-shadow: var(--boxSahdow-2);
  
  transition: var(--transition);
  z-index: 11111111111111111;
}
ul.toggleMenu.active {
  left: var(--left);
  bottom: var(--bottom);
  opacity: 1;
  visibility: visible;
}

ul.toggleMenu li {
  align-items: center;
  gap: 10px;
  padding: calc(var(--padding)) calc(var(--padding) * 2);

  cursor: pointer;
  color: var(--text-primary);
  
  transition: var(--transition);
}

ul.toggleMenu li.btnLogout {
  color: var(--error-main);
}

ul.toggleMenu li span {
  font-size: 13px;
}

ul.toggleMenu li i {
  font-size: 20px;
}

ul.toggleMenu li:hover {
  background-color: var(--hover-color);
}


/* Navbar Box Left */
main .navbar .navbar-boxLeft {
  width: calc(var(--initial) * 10);
  padding: calc(var(--padding) * 2);
  gap: 10px;
}
main .navbar .navbar-boxLeft .navbar-logo {
  width: 50px;
  height: 50px;
  background-color: var(--background-element);
  border-radius: calc(var(--border-radius) * 2);
  box-shadow: var(--boxSahdow-2);
  border: 1px solid var(--border-color);
  background-image: var(--logo-url);
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}

main .navbar .navbar-boxLeft .navbar-middleButtons {
 gap: 10px;
}

main .navbar .navbar-boxLeft .navbar-button {
  width: 40px;
  height: 40px;
  background-color: var(--background-alt);
  border-radius: calc(var(--border-radius) * 2);
  background-image: var(--icon-dark);
  background-size: var(--bg-size);
  background-position: center;
  background-repeat: no-repeat;
  border: 0;
  border: 1px solid var(--border-color);
}

body.light main .navbar .navbar-boxLeft .navbar-button {
  background-image: var(--icon-light);
}

main .navbar .navbar-boxLeft .navbar-button .tooltip {
  position: absolute;
  height: 25px;
  width: fit-content;
  min-width: 90px;
  padding: 0 var(--padding);
  background-color: var(--background-alt);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-primary);
  border-radius: var(--border-radius);
  left: calc(100% + 50px);
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid var(--border-color);
  box-shadow: var(--boxSahdow-0);
  opacity: 0;
  visibility: hidden;
  transition: var(--transition);
  font-size: 11px;
}

main .navbar .navbar-boxLeft .navbar-button .tooltip::after {
  position: absolute;
  content: '';
  border-right: 8px solid var(--border-color);
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  left: -12px;
  border-radius: 4px;
  box-shadow: var(--boxSahdow-2);
}

main .navbar .navbar-boxLeft .navbar-button:hover .tooltip {
  opacity: 1;
  visibility: visible;
  left: calc(100% + 20px);
}

main .navbar .navbar-boxLeft .navbar-account {
  gap: 10px;
}

main .navbar .navbar-boxLeft .navbar-account .userAvatar .userAvatar-img {
  width: 40px;
  height: 40px;

  border-radius: calc(var(--border-radius) * 2);
  border: 1px solid var(--border-color);

  background-image: url(/assets/icon_user.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
}

/* Story Box */
main .navbar .navbar-boxRight .topBox {
  height: calc(var(--initial) * 10);
  gap: 10px;
  overflow-x: auto;
  padding: 0 var(--padding);
}

main .navbar .navbar-boxRight .topBox .storyCircle {
  gap: 3px;
  width: 53px;
}

main .navbar .navbar-boxRight .topBox .storyCircle p {
  font-size: 10px;
  color: var(--text-primary);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Chat List Box */
main .navbar .navbar-boxRight .bottomBox {
  overflow: hidden;
}

main .navbar .navbar-boxRight .bottomBox .folderChat {
  height: 50px;
  overflow-x: auto;
}

main .navbar .navbar-boxRight .bottomBox .folderChat .folder {
  color: var(--text-primary);
  font-size: 14px;
  padding: 0 calc(var(--padding) * 2);
  border-bottom: 1px solid var(--background-main);
}

main .navbar .navbar-boxRight .bottomBox .folderChat .folder.active {
  border-bottom: 2px solid var(--primary-main);
  color: var(--primary-main);
  background-color: var(--background-main);
}

main .navbar .navbar-boxRight .bottomBox .chatList .chatItem {
  gap: 10px;
  padding: var(--padding);
  transition: var(--transition);
}

main .navbar .navbar-boxRight .bottomBox .chatList .chatItem.active {
  background-color: var(--background-element);
}

main .navbar .navbar-boxRight .bottomBox .chatList .chatItem:not(.active):hover {
  background-color: var(--background-main);
}

main .navbar .navbar-boxRight .bottomBox .chatList .chatItem .chatItemContent {
  gap: 5px;
}

main .navbar .navbar-boxRight .bottomBox .chatList .chatItem .chatItemContent .userName {
  color: var(--text-title);
}

main .navbar .navbar-boxRight .bottomBox .chatList .chatItem .chatItemContent .lastMessage {
  color: var(--text-secondary);
  font-size: 14px;
}

.searchBox {
  height: 40px;
  background-color: var(--background-main);
  padding: 0 var(--padding);
  gap: 10px;
  overflow: hidden;
  left: 0;
}

.searchBox input {
  background: none;
  border: 0;
  color: var(--text-primary);
}

.searchBox i.material-symbols-outlined {
  width: 20px;
  color: var(--text-secondary);
  font-size: 22px;
}
.searchBox.chatBoxSearch {
  opacity: 0;
  visibility: hidden;
  transition: var(--transition);
}

/* Chat Box */
main .chatBox .chatBox-boxLeft {
  background-color: var(--background-main);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}
body.light main .chatBox .chatBox-boxLeft {
  background-image: var(--bg-light-url);
}
body.dark main .chatBox .chatBox-boxLeft {
  background-image: var(--bg-dark-url);
}

main .chatBox .chatBox-boxLeft .userInfo {
  height: calc(var(--initial) * 8);
  background-color: var(--background-alt);
  padding: 0 var(--padding);
}

main .chatBox .chatBox-boxLeft .userInfo .userInfo-avatar {
  gap: 10px;
}

main .chatBox .chatBox-boxLeft .userInfo .userInfo-avatar .info span:first-child {
  color: var(--text-primary);
}

main .chatBox .chatBox-boxLeft .userInfo .userInfo-avatar .info span:last-child {
  color: var(--text-secondary);
  font-size: 12px;
}

main .chatBox .chatBox-boxLeft .userInfo .userInfo-action {
  gap: 10px;
}
.imagee{
  fill: #ffffff;
}
main .chatBox .chatBox-boxLeft .userInfo .userInfo-action .actionBtn {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  transition: var(--transition);
  color: var(--text-primary);
  display: flex;
  font-size: 24px;
}

main .chatBox .chatBox-boxLeft .userInfo .userInfo-action .actionBtn:hover {
  background-color: var(--background-main);
}

main .chatBox .chatBox-boxLeft .formSendMessage {
  height: calc(var(--initial) * 6);
  background-color: var(--background-main);
}