@font-face {
  font-family: 'Viga';
  src: url(/assets/fonts/Viga-Regular.ttf);
}


/* Sizes */
:root {
  --padding: 8px;
  --margin: 8px;
  --border-radius: 8px;
  --font-size: 16px;

  --transition: all 0.3s;

  --zIndex-modal: 1300;
  --zIndex-tooltip: 1500;
  --zIndex-paper: 1000;
  --zIndex-100: 100;
  --zIndex-90: 90;
  --zIndex-80: 80;
  --zIndex-70: 70;
  --zIndex-60: 60;
  --zIndex-50: 50;
  --zIndex-40: 40;
  --zIndex-30: 30;
  --zIndex-20: 20;
  --zIndex-10: 10;
  --zIndex-3: 3;
  --zIndex-2: 2;
  --zIndex-1: 1;
  --zIndex-0: 0;

  --black: #000000;
  --white: #FFFFFF;
  --gray1: #757575;
  --gray2: #cbcbcb;
  --gray3: #ededed;
  --gray4: #f9f9f9;

  --black1: #1C1C1C;
  --black2: #2A2A2A;
  --black3: #383838;
}

/* Colors */
.light {
  --background-default: #CDCDCD;
  --background-paper: #ededed;
  --background-element: #f9f9f9;

  --primary-main: #6E85B7;
  --primary-light: #92A4C9;
  --primary-dark: #496093;

  --secondary-main: #B76E73;
  --secondary-light: #C99296;
  --secondary-dark: #93494E;

  --text-primary: rgba(0, 0, 0, 0.87);
  --text-secondary: rgba(0, 0, 0, 0.6);
  --text-disabled: rgba(0, 0, 0, 0.38);

  --text-divider: rgba(0, 0, 0, 0.12);
}

.dark {
  --background-default: #1C1C1C;
  --background-paper: #2A2A2A;
  --background-element: #383838;

  --primary-main: #a4b3d2;
  --primary-light: #bbc6dd;
  --primary-dark: #657fb3;

  --secondary-main: #d2a4a7;
  --secondary-light: #ddbbbd;
  --secondary-dark: #b3656b;

  --text-primary: rgba(255, 255, 255, 0.87);
  --text-secondary: rgba(255, 255, 255, 0.6);
  --text-disabled: rgba(255, 255, 255, 0.38);

  --text-divider: rgba(255, 255, 255, 0.12);
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  font-size: var(--font-size);
  background-color: var(--background-default);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
  font-family: 'Viga', sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.buttons {
  width: 100%;
  height: 100%;
  padding: 0 15px;
  position: relative;
  background: none;
  border: 0;
  cursor: pointer;
  color: var(--white);
  border-radius: 50px;
  transition: var(--transition);
  background-color: var(--primary-main);
  overflow: hidden;
}
.buttons span {
  position: relative;
  z-index: 1;
  font-size: 1em;
}
.buttons::after,
.buttons::before {
  position: absolute;
  content: '';

  width: 15px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.12);
  border-radius: 50%;

  transition: var(--transition);
}
.buttons::after {
  top: 50%;
  left: -100%;
  transform: translate(-50%, -50%);
}
.buttons::before {

  top: 50%;
  right: -100%;
  transform: translate(50%, -50%);
}
.buttons:hover:after {
  animation-name: btnLeftCircleAnimate;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}
.buttons:hover:before {
  right: 50%;
  animation-name: btnRightCircleAnimate;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes btnRightCircleAnimate {
  0% { right: -100%; width: 15px; height: 15px; }
  40% { right: 50%; width: 15px; height: 15px; }
  60% { right: 50%; width: 15px; height: 15px; }
  80% { right: 50%; width: 150%; height: 150%; }
  100% { right: 50%; width: 150%; height: 150%; }
}

@keyframes btnLeftCircleAnimate {
  0% { left: -100%; width: 15px; height: 15px; }
  40% { left: 50%; width: 15px; height: 15px; }
  60% { left: 50%; width: 15px; height: 15px; }
  80% { left: 50%; width: 150%; height: 150%; }
  100% { left: 50%; width: 150%; height: 150%; }
}